.gellery_main {
    background-image: url(../../../../public/assets/images/footer.png);
    padding: 50px 0 30px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden; /* Prevent overflow from rotated heading */
  }
  
  .gellery_main h1 {
    color: #fff;
    font-size: 75px;
    margin: 0;
    white-space: nowrap; /* Prevent breaking */
  }
  
  .gellery_slide {
    width: 90%;
  }
  
  .slider-image {
    width: 275px;
  }
  
  .heading {
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left top;
    z-index: 1;
  }
  
  @media screen and (max-width: 768px) {
    
  
    .gellery_slide {
      width: 80%;
      margin-right: 10px;
    }
  
    .gellery_main h1 {
      font-size: 55px;
    }
    .slider-image {
        width: 100%;
      }
  
    .heading {
      left: 0px;
      top:80%;
      transform: translateY(-50%) rotate(-90deg);
    }
  }
  