.mainContainer {
    width: 100%;
    height: 646px;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}



.video{
   
    top: 58px;
    width: 100vw;
    height:auto;
}
@media  screen and (max-width: 768px) {
    .mainContainer{
        height: auto;
    }
}
