
.caculator_button {
  position: absolute;
  bottom: 30px;
  left :0px;
  width: 90%;
 
  
}
.caculator_button a img{
  width: 20px;
}
.caculator_button a{
  background: white ;
  height: 40px;
  display: flex;
  padding-left: 20px;
  padding-right: 10px;
  color: black;
  border-radius: 0 50px 50px 0;
  font-weight: bold;
  font-family: 'Poppins';
  gap: 40px;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 999;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 40px -17px inset, rgba(0, 0, 0, 0.3) 0px 24px 17px -46px inset;
}

.caculator_button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60%;
  width: 100px;
  height: 100%;
  background: url('../../assets/logotop.png'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  transition: transform 0.8s ease-in-out;
  z-index: 0;
}

.caculator_button a:hover::before {
  transform: translateX(250%);
}

.caculator_button a:hover {
  color: black;
  background:  white;
  box-shadow: #0000004d 4px 4px 12px;
}

.caculator_button a p {
  position: relative;
  z-index: 1;
}
.caculator_button a img {
  position: relative;
  z-index: 1;
}
