.gellery_main {
  padding: 50px 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}
.gellery_main h1 {
  color: #000000;
  font-size: 75px;
  margin: 0;
}
.gellery_main h3 {
  color: #525252;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.gellery_slide {
  width: 70%;
}
.slider-image {
  width: 275px;
}
.brouser_container img {
  position: absolute;
  width: 75%;
  top: 0;
  left: -20%;
  transform: rotate(-6deg);
}
.heading {
    margin-left: 20px;
}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
  .gellery_main {
    padding: 0;
    flex-direction: column-reverse;
  }
  .gellery_main h1 {
    color: #000000;
    font-size: 70px;
    margin: 0;
    align-items: start;
  }
  .heading {
    margin-left: 0;
}
.gellery_slide {
  width: 100%;
}
.brouser_container img{
  width: 100vw;
}
}
