.main {
    width: 100%;
    /* height: 100vh; */
}

.container {
    width: 100%;
    /* height: 90vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.leftContainer{
    width: 30%;
}
.heading {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 2%;

}

.para {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;

}


.rightContainer {
    width: 60%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.allcodesBox {
    width: 844px;
    height: 440px;
    overflow: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.allcodesBox::-webkit-scrollbar {
    display: none;

}

.colorBox {
    width: 120px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.color_item {
    width: 100%;
    height: 120px;
    background-color: #FF2020;
}

.color_itemCode {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 767px) {
.container{
    flex-direction: column;
}
.leftContainer{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.rightContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.allcodesBox {
    width: 100vw;
    
}
}