.slider-container {
  overflow: hidden; /* Ensure no overflow issues */
  position: relative; /* Fix any layout issues */
}

.slider-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Optional: ensures images are correctly scaled */
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appstore {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.appstore img {
  width: 150px;
}
