.footer_main{
    background-image: url(../../../assets/images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.footer{
    width: 90%;
    margin: auto;
}