.main {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    height: 400px;
    display: flex;
    position: relative; 
    overflow: hidden; 
}

.img {
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #9CBAD6;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    z-index: 2;
    text-align: center;
}


.heading {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    text-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.31);
    color: rgba(255, 255, 255, 1);
}

.para {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.btn {
    width: 195px;
    height: 51px;
    border-width: 1px;
    border-radius: 47px;
    border: 1px solid rgba(156, 186, 214, 1) ;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}